.example-form {
    margin: auto;
    width: 50%;
    padding: 10px;
    border: 1px solid black;
  }
  
  .example-full-width {
    width: 100%;
  }

  h1{
    text-align: center;
    padding-top: 10px;
  }

  .example-button-row {
    display: table-cell;
    width: 105px;
  }