.register-container {
  padding: 44px 16px;
}
.example-form {
    margin: auto;
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc;
  }
  h1{
    text-align: center;
    padding-top: 10px;
  }
  .example-full-width {
    width: 100%;
  }
  
  td {
    padding-right: 8px;
  }
  