<nav class="navbar navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/products"><i class="fas fa-shipping-fast"></i>&nbsp;<strong>OutKart</strong></a>
        <form class="d-flex" role="search">
            <input class="form-control" type="search" placeholder="Search" [(ngModel)]="searchTerm" [ngModelOptions]="{standalone: true}" (keyup)="search($event)" aria-label="Search">
            <!-- <button class="btn btn-success"> -->
                <span class="fas fa-search search-icon"></span>
            <!-- </button> -->
        </form>
        <button routerLink="cart" class="btn btn-primary">
            <i style="font-size: 30px;" class="fas fa-cart-plus"></i>
            <div style="font-size: 10px;" class="badge bg-danger">{{totalitem}}</div>
        </button>
    </div>
  </nav>