<div class="login-container">
<form class="example-form" [formGroup]="loginForm" (ngSubmit)="login()">
    <h1>Login</h1>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput placeholder="jack@gmail.com" formControlName="email">
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput placeholder="password" formControlName="password">
    </mat-form-field>
    <div class="example-button-row">
        <button mat-raised-button color="primary">Login</button>
     
    </div>
    <!-- <div class="example-button-row">
        <a routerLink="/reset-password">Reset Password</a>     
    </div> -->
    <span>if new user please..!
        <a routerLink="/register">Register</a>
    </span>
</form>
</div>