<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h2>Sign Up</h2>
                    <h6>Register yourself!</h6>
                </div>
                    <form [formGroup]="signupForm" (ngSubmit)="signUp()">
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Full Name</label>
                            <input type="text" class="form-control" id="FirstName" aria-describedby="fullname" formControlName="FirstName">
                          </div>
                          <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Mobile NUmber</label>
                            <input type="number" class="form-control" id="MobileNumber" formControlName="MobileNumber">
                          </div>
                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label">Email address</label>
                          <input type="email" class="form-control" id="EMail" aria-describedby="email" formControlName="EMail">
                        </div>
                        <div class="mb-3">
                          <label for="exampleInputPassword1" class="form-label">Password</label>
                          <input type="password" class="form-control" id="Password" formControlName="Password">
                        </div>
                        <button type="submit" class="btn btn-primary">Register</button>
                    </form>
                    <a routerLink="/login">Already Register?Click to Login..!</a>
            </div>
        </div>
    </div>
</div>